<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Session</title>

    <!--[if mso]>
    <style type="text/css">
        body, table, td, .mobile-text {
            font-family:Arial, Helvetica, sans-serif !important;
        }
    </style>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->

    <style type="text/css">
        .ReadMsgBody { width:100%;}
        table {border-collapse:collapse; margin:0 auto;}

        /* Outlook link fix */
        #outlook a {padding:0;}
        /* Hotmail background & line height fixes */
        .ExternalClass {width:100% !important;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font,
        .ExternalClass td, .ExternalClass div {line-height:100%;}
        /* Image borders & formatting */
        img {outline:none; text-decoration:none; -ms-interpolation-mode:bicubic;}
        a img {border:none;}
        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {color:inherit !important; text-decoration:none !important; font-size:inherit !important; font-family:inherit !important; font-weight:inherit !important; line-height:inherit !important;}

        /* Media Query for mobile */
        @media only screen and (max-width:480px){
            .web {
                display:none !important;
            }

            /* This resizes tables and images to be 100% wide with a proportionate width */
            .content-width {
                display:block !important;
                width:100% !important;
            }

            .full-width {
                width:100% !important;
            }

            .mobile-headline {
                font-size:20px !important;
                line-height:22px !important;
                text-align:left !important;
            }

            .mobile-text {
                font-size:15px !important;
                line-height:21px !important;
            }

            .button {
                width:260px !important;
            }

            .mobile-spacer {
                width:22px !important;
            }

            .logo {
                width:auto !important;
            }

            .txt-left {
                text-align:left !important;
            }

            .bottom-border {
                border-bottom:1px solid #CECECE !important;
                padding-bottom:30px !important;
            }

            .top-padding {
                padding-top:20px !important;
            }
        }
    </style>
</head>

<body bgcolor="#f0f0f0" style="background-color:#f0f0f0; margin:0; padding:0;-webkit-font-smoothing:antialiased;width:100% !important;-webkit-text-size-adjust:none;" topmargin="0">
{% block body %}{% endblock %}
</body>
</html>